streamlit

openai

python-dotenv

pymupdf

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters

chromadb

sentence-transformers

pypdf

reportlab

torch