streamlit>=1.40.0

openai>=1.60.0
python-dotenv>=1.0.1

langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-huggingface>=0.1.2
langchain-chroma>=0.2.0

chromadb>=0.5.23

sentence-transformers>=3.3.1
transformers>=4.46.0
torch>=2.5.0
torchvision>=0.20.0

pypdf>=5.0.0
PyMuPDF>=1.24.0

reportlab>=4.2.0

numpy>=1.26.0